<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hanan.fenakhair">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaseList"
            android:label="Closed cases"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Case_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".New_case_list"
            android:label="New cases"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".New_case_details"
            android:theme="@style/AppTheme" />
        <activity android:name=".Old_case_list"
            android:label="Old cases"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Old_case_details"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>